<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <center><a href="/fortune/result"><img src="/1.png" width="250"/></a><br><br>
    <i>포춘쿠키를 클릭해 보세요.<br>
    포춘쿠키가 당신의 하루를 읽어 줄 거예요.</i></center></div>
    <div class="col-md-4"></div>
  </div>