<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <center><a href="/fortune/home"><img src="/2.png" width="300"/></a><br><br>
    <i><%= @menu_choice.first %></i></center></div>
    <div class="col-md-4"></div>
  </div>